* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 61%; }

.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr 1.1fr;
  grid-template-areas: "head head head" "list recipe shopping"; }
  @media only screen and (max-width: 68.75em) {
    .container {
      width: 100%;
      margin: 0;
      border-radius: 0; } }


.btn {
  background-color: orange;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s; }

.btn {
  padding: 1.3rem 3rem;
  font-size: 1.4rem; }


.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #F59A83;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  transform: skewY(-3deg); }

.header {
  grid-area: head;
  background-color: #F9F5F3;
  display: flex;
  align-items: center;
  justify-content: space-between; }

  .logo{
    height:  30rem;
    display: block;
  }

.search {
  border-radius: 10rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  margin-right: 10rem;
  transition: all .3s; }

  .search_type_selection{
    margin-right: 6px;
  }
  .recipe_title{
    color: #F59A83;
    text-align: center;
    font-family: fantasy;
    font-style: bold;
    margin-top: 10px;
    font-size: 30px;
  }
  .search_btn{
    color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    background-image: linear-gradient(to right bottom, rgb(255,127,80), #F48982);

  }

  .search_field {
    font-family: inherit;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem; }
    .search__field::placeholder {
      color: #DAD0CC; }

.favorites_btn{
height: 20px;
font-style: italic;
weight: 3px;
  font-size: 13px;
  line-height: 1px;
  text-align: center;
  border-radius: 50%;
padding: 10px;
cursor: pointer;
background-image: linear-gradient(to right bottom, rgb(255,127,80), #F48982);
color: #FFFFFF;

}

.favorites {
  position: relative;
  align-self: stretch;
  padding: 0 !important; }
  .favorites_field {
    cursor: pointer;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    transition: all .3s; }
    .favorites_field:hover {
      background-color: #F2EFEE; }
  .favorites_panel:hover,
  .favorites_field:hover + .favorites_panel {
    visibility: visible;
    opacity: 1; }
  .favorites_icon {
    fill: #F59A83;
    height: 3.75rem;
    width: 3.75rem; }
  .favorites_panel {
    position: absolute;
    right: 0;
    top: 10rem;
    z-index: 10;
    padding: 2rem 0;
    width: 34rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all .5s .2s; }

.results,
.favorites {
  padding: 1rem 0; }
  .results__list,
  .favorites_list {
    list-style: none; }
  .results__link:link, .results__link:visited,
  .favorites_link:link,
  .favorites_link:visited {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    transition: all .3s;
    border-right: 1px solid #fff;
    text-decoration: none; }
  .results__link:hover,
  .favorites_link:hover {
    background-color: #F9F5F3;
    transform: translateY(-2px); }
  .results__link--active,
  .favorites_link--active {
    background-color: #F9F5F3; }
  .results__fig,
  .favorites_fig {
    flex: 0 0 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    height: 5.5rem;
    margin-right: 2rem;
    position: relative;
    backface-visibility: hidden; }
    .results__fig::before,
    .favorites_fig::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
      opacity: .4; }
    .results__fig img,
    .favorites_fig img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s; }
  .results__name,
  .favorites_name {
    font-size: 1.3rem;
    color: #F59A83;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .3rem; }
  .results__author,
  .favorites_author {
    font-size: 1.1rem;
    color: #968B87;
    text-transform: uppercase;
    font-weight: 600; }
  .results__pages,
  .favorites_pages {
    margin-top: 3rem;
    padding: 0 3rem; }
    .results__pages::after,
    .favorites_pages::after {
      content: "";
      display: table;
      clear: both; }
  .results__btn--prev,
  .favorites_btn--prev {
    float: left;
    flex-direction: row-reverse; }
  .results__btn--next,
  .favorites_btn--next {
    float: right; }

.recipe {
  background-color: #F9F5F3;
  border-top: 1px solid #fff; }
  .recipe__fig {
    height: 30rem;
    position: relative;
    transform: scale(1.04) translateY(-1px);
    transform-origin: top; }
    .recipe__fig::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
      opacity: .6; }
  .recipe__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover; }

  .recipe__details {
    display: flex;
    align-items: center;
    padding: 8rem 3rem 3rem 3rem; }
  .recipe__info {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .recipe__info:not(:last-child) {
      margin-right: 4rem; }
  .recipe__info-icon {
    height: 2rem;
    width: 2rem;
    fill: #F59A83;
    margin-right: 1rem; }
  .recipe__info-data {
    margin-right: .4rem;
    font-weight: 600; }
  .recipe__info-buttons {
    display: flex;
    margin-left: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all .4s; }
    .btn-increase, .btn-decrease {
      width: 3px;
      height: 3px;
      font-size: 10px;
      line-height: 1px;
      text-align: center;
      border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    background-image: linear-gradient(to right bottom, rgb(255,127,80), #F48982);
    color: #F0E68C;

    }
  .recipe:hover .recipe__info-buttons {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); }
  .recipe__love {
    color: red;
    background-image: linear-gradient(to right bottom, rgb(255,127,80), #F48982);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    margin-left: auto;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .recipe__love:hover {
      transform: scale(1.07); }
    .recipe__love:focus {
      outline: none; }
    .recipe__love svg {
      height: 2.75rem;
      width: 2.75rem;
      fill: #fff; }
  .recipe__ingredients {
    padding: 4rem 5rem;
    font-size: 1.5rem;
    line-height: 1.4;
    background-color: #F2EFEE;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .recipe__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    list-style: none;
    margin-bottom: 3rem; }
  .recipe__item {
    display: flex; }

  .recipe__count {
    margin-right: .5rem;
    flex: 0 0 auto; }
  .recipe__directions {
    padding: 4rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .recipe__directions-text {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin-bottom: 3rem;
    color: #968B87; }
  .recipe__by {
    font-weight: 700; }

  .recipe__btn--add{
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    background-image: linear-gradient(to right bottom, rgb(255,127,80), #F48982);
    font-style: italic;
    border: 0px;
  }

.shopping {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column; }
  .shopping_list {
    list-style: none;
    max-height: 70rem;
    overflow: scroll; }
  .shopping__item {
    display: flex;
    align-items: flex-start;
    padding: 1.3rem 0;
    border-bottom: 1px solid #F2EFEE;
    position: relative; }
  .shopping__count {
    flex: 0 0 7.5rem;
    padding: .2rem;
    border: 1px solid grey;
    border-radius: 2px;
    margin-right: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; }
    .shopping__count input {
      color: inherit;
      font-family: inherit;
      font-size: 1.5rem;
      text-align: center;
      border: none;
      width: 2.7rem;
      border-radius: 3px; }
      .shopping__count input:focus {
        outline: none;
        background-color: #F2EFEE; }
    .shopping__count p {
      font-size: 1.2rem; }
  .shopping__description {
    flex: 1;
    font-size: 1.3rem;
    margin-top: .4rem;
    margin-right: 1.5rem; }
  .shopping_delete, .shopping_search {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    margin: 5px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .shopping__item:hover .shopping_delete {
    opacity: 1;
    visibility: visible;
    }

    .shopping__item:hover .shopping_search {
      opacity: 1;
      visibility: visible; }
